################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CompanyAPI.Application/bin/Debug/net8.0/CompanyAPI.Application.dll
/CompanyAPI.Application/bin/Debug/net8.0/CompanyAPI.Application.pdb
/CompanyAPI.Application/bin/Debug/net8.0/CompanyAPI.Domain.dll
/CompanyAPI.Application/bin/Debug/net8.0/CompanyAPI.Domain.pdb
/CompanyAPI.Application/obj/Debug/net8.0/ref/CompanyAPI.Application.dll
/CompanyAPI.Application/obj/Debug/net8.0/CompanyAPI.Application.AssemblyInfo.cs
/CompanyAPI.Application/obj/Debug/net8.0/CompanyAPI.Application.AssemblyInfoInputs.cache
/CompanyAPI.Application/obj/Debug/net8.0/CompanyAPI.Application.csproj.AssemblyReference.cache
/CompanyAPI.Application/obj/Debug/net8.0/CompanyAPI.Application.dll
/CompanyAPI.Application/obj/Debug/net8.0/CompanyAPI.Application.pdb
/CompanyAPI.Application/obj/Debug/net8.0/CompanyAPI.Application.sourcelink.json
/CompanyAPI.Application/obj/Debug/net8.0/refint/CompanyAPI.Application.dll
/CompanyAPI/.vs/CompanyAPI/DesignTimeBuild/.dtbcache.v2
/CompanyAPI/.vs/CompanyAPI/v17/.suo
/CompanyAPI/.vs/ProjectEvaluation/companyapi.metadata.v7.bin
/CompanyAPI/.vs/ProjectEvaluation/companyapi.projects.v7.bin
/CompanyAPI/obj/Debug/net8.0/refint/CompanyAPI.API.dll
/CompanyAPI/obj/Debug/net8.0/ref/CompanyAPI.API.dll
/CompanyAPI.Infrastructure/obj/Debug/net8.0/CompanyAPI.Infrastructure.sourcelink.json
/CompanyAPI.Infrastructure/obj/Debug/net8.0/CompanyAPI.Infrastructure.dll
/CompanyAPI.Infrastructure/obj/Debug/net8.0/CompanyAPI.Infrastructure.pdb
/CompanyAPI.Infrastructure/obj/Debug/net8.0/CompanyAPI.Infrastructure.csproj.AssemblyReference.cache
/CompanyAPI.Infrastructure/obj/Debug/net8.0/CompanyAPI.Infrastructure.AssemblyInfoInputs.cache
/CompanyAPI.Infrastructure/obj/Debug/net8.0/refint/CompanyAPI.Infrastructure.dll
/CompanyAPI.Infrastructure/obj/Debug/net8.0/ref/CompanyAPI.Infrastructure.dll
/CompanyAPI.Infrastructure/obj/Debug/net8.0/CompanyAPI.Infrastructure.AssemblyInfo.cs
/CompanyAPI.Infrastructure/bin/Debug/net8.0/CompanyAPI.Domain.dll
/CompanyAPI.Infrastructure/bin/Debug/net8.0/CompanyAPI.Domain.pdb
/CompanyAPI.Infrastructure/bin/Debug/net8.0/CompanyAPI.Infrastructure.dll
/CompanyAPI.Infrastructure/bin/Debug/net8.0/CompanyAPI.Infrastructure.pdb
/CompanyAPI/bin/Debug/net8.0/CompanyAPI.API.dll
/CompanyAPI/bin/Debug/net8.0/CompanyAPI.API.exe
/CompanyAPI/bin/Debug/net8.0/CompanyAPI.API.pdb
/CompanyAPI/bin/Debug/net8.0/CompanyAPI.Application.dll
/CompanyAPI/bin/Debug/net8.0/CompanyAPI.Application.pdb
/CompanyAPI/bin/Debug/net8.0/CompanyAPI.Domain.dll
/CompanyAPI/bin/Debug/net8.0/CompanyAPI.Domain.pdb
/CompanyAPI/bin/Debug/net8.0/CompanyAPI.Infrastructure.dll
/CompanyAPI/bin/Debug/net8.0/CompanyAPI.Infrastructure.pdb
/CompanyAPI.Domain/bin/Debug/net8.0/CompanyAPI.Domain.dll
/CompanyAPI.Domain/bin/Debug/net8.0/CompanyAPI.Domain.pdb
/CompanyAPI.Domain/obj/Debug/net8.0/ref/CompanyAPI.Domain.dll
/CompanyAPI.Domain/obj/Debug/net8.0/refint/CompanyAPI.Domain.dll
/CompanyAPI.Domain/obj/Debug/net8.0/CompanyAPI.Domain.AssemblyInfo.cs
/CompanyAPI.Domain/obj/Debug/net8.0/CompanyAPI.Domain.AssemblyInfoInputs.cache
/CompanyAPI.Domain/obj/Debug/net8.0/CompanyAPI.Domain.dll
/CompanyAPI.Domain/obj/Debug/net8.0/CompanyAPI.Domain.pdb
/CompanyAPI.Domain/obj/Debug/net8.0/CompanyAPI.Domain.sourcelink.json
/CompanyAPI/obj/Debug/net8.0/apphost.exe
/CompanyAPI/Logs/log.txt
/CompanyAPI/.vs/CompanyAPI/v17/.futdcache.v2
